.form-group {
  margin: 0.5rem !important;
}
.form-group label {
  margin-bottom: 5px !important;
}
.form-control {
  height: 3rem !important;
}
.form-control:focus {
  box-shadow: none;
}
.submitButton-container {
  display: flex;
  justify-content: center;
}
sup {
  color: #f02929;
  margin-left: 1px;
}

/* error classes */
.input_error {
  border: 2px solid #f02929;
  background: #ee6464;
}
